@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-100: #382bf0;
  --primary-200: #5e43f3;
  --primary-300: #7a5af5;
  --primary-400: #9171f8;
  --primary-500: #a688fa;
  --primary-600: #ba9ffb;
  --dark-100: #121212;
  --dark-200: #282828;
  --dark-300: #3f3f3f;
  --dark-400: #575757;
  --dark-500: #717171;
  --dark-600: #8b8b8b;
  --primary-text: #fff;
  --secondary-text: #8b8b8b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html * {
  font-family: "Open Sans", sans-serif;
}
.main {
  margin-left: 16.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background-color: var(--dark-100);
  overflow: hidden;
}
body {
  background-color: var(--dark-100);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: #e9e8e8;
  color: #000000;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #71b3ff;}

.submit {
  font-size: 18pt;
}
