@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.group {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 30px;
  font-family: "Abel", sans-serif;
  color: white;
  background-color: var(--dark-300);
  border-width: 2px;
  border-color: black;
  width: 1000px;
}

.group:hover {
  background-color: blueviolet;
  color: white;
}

.location {
  display: none;
  margin-top: 10px;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  flex-direction: column;
}

.location a {
  text-decoration: none; 
  padding: 8px 0;
  font-size: 8px;
}

.time {
  display: none;
  margin-top: 10px;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  flex-direction: column;
}

.time a {
  text-decoration: none;
  color: blueviolet;
  padding: 8px 0;
  font-size: 8px;
}

.members {
  display: none;
  margin-top: 10px;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  flex-direction: column;
}

.members a {
  text-decoration: none;
  color: white;
  padding: 8px 0;
  font-size: 8px;
}

.open {
  color: white;
  display: flex !important;
  max-height: 100px !important;
  margin-left: 30px;
}

.openLocationTime {
  color: var(--primary-600);
  font-weight: bold;
  display: flex !important;
  max-height: 100px !important;
  margin-left: 20px;
}

.exit {
  color: black;
  background-color: var(--dark-600);
  border-width: 2px;
  border-color: black;
  width: 1000px;
  font-family: "Abel", sans-serif;
  font-size: 20px;
}

.exit:hover {
  background-color: red;
  color: white;
}
