@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.homeContainer {
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
}

.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Abel", sans-serif;
  transition-duration: 0.5s;
}

.userContainer {
  width: 36rem;
  min-width: 36rem;
  display: flex;
  background-color: var(--dark-200);
  transform: rotateZ(0deg);
  transform-style: preserve-3d;
  transition-property: transform;
  transition-duration: 0.5s;
  aspect-ratio: auto;
}

.userContainer h2 {
  font-weight: 700;
  display: flex;
  gap: 0.5rem;
}

.matchOption {
  width: 35rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text);
  background-color: var(--dark-100);
  transition-duration: 0.5s;
  transition-property: background-color;
  cursor: pointer;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  height: 27rem;
  border: 1px solid var(--dark-500);
}

.imageContainer img {
  object-fit: cover;
}


.bioContainer {
  height: 15rem;
  padding: 1rem;
  border: 1px solid var(--dark-500);
}

.bioContainer h1 {
  font-size: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  color: var(--primary-text);
  font-family: "Abel", sans-serif;
}

.bioContainer h2 {
  color: var(--primary-300);
}

.bioContainer h2 p {
  color: var(--primary-text);
}

.bioContainer p {
  color: var(--primary-text);
  font-weight: 400;
  word-wrap: break-word;
  hyphens: auto;
}

.right {
  width: 50%;
}

.coursesContainer {
  height: calc(27rem / 2);
  padding: 1rem;
  border: 1px solid var(--dark-500);
  color: var(--primary-text);
}

.coursesContainer h2 {
  color: var(--primary-300);
}

.timesContainer {
  height: calc(27rem / 2);
  padding: 1rem;
  color: var(--primary-text);
  border: 1px solid var(--dark-500);
}

.timesContainer h2 {
  color: var(--primary-300);
}

.timesContainer ul {
  height: 7rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.locationContainer {
  height: 15rem;
  padding: 1rem;
  border: 1px solid var(--dark-500);
  color: var(--primary-text);
}


.locationContainer h2 {
  color: var(--primary-300);
}

.filterOptionsContainer {
  position: relative;
  color: var(--primary-300);
  padding: 0rem 2rem 2rem 2rem;
  top: 5rem;
}

.filterOptionsContainer h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.filterOptions {
  display: flex;
  justify-content: center;
}

.filterOption {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}