.box{
    color:red;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 75%;
}
.messagePart{
    width:100%;
}
.senderProfile{
    width: 10%;
    height: 90%;
}
.senderName{
    font-size:1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sender{
    display:flex;
    flex-direction: row;
    background-color: gray;
    height: 10%;
}
.messageBody{
    background-color: gray;
    height: 80%;
    padding: 1.25rem;
}
.sendeeProfile{
    width: 8%;
    height: 60%;
}
.sendeeName{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0); /* Semi-transparent overlay */
    color: #fff; /* White text color */
    transform: translateX(-100%); /* Start hidden below the container */
    transition: transform 0.5s ease-in-out; /* Smooth slide-in effect */
    padding: 20px 0; /* Some padding */
}
.recipients{
    position:relative;
    display: flex;
    align-items: center;
    background-color: gray;
    height: 10%;
}
.recipients:hover .sendeeName{
    transform: translateX(0);
}

