.makeMessageButton{
    position: absolute;
    right: 46.5%;
    bottom: 5%;
    display:block;
    padding: 1rem;
    background-color: blueviolet;
    color:white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.makeMessageButton:hover{
    background-color: rgb(160, 90, 225);
    text-decoration: none;
    cursor:pointer;
}