.box{
    color:red;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 75%;
}
.messagePart{
    width:100%;
}
.senderProfile{
    width: 10%;
    height: 90%;
}
.senderName{
    font-size:1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sender{
    display:flex;
    flex-direction: row;
    background-color: gray;
    height: 10%;
}
.messageBody{
    background-color: gray;
    height: 80%;
    padding: 1.25rem;
}
.sendeeProfile{
    position: relative;
    width: 8%;
    height: 60%;
}
.sendeeName{
    position: absolute;
    top: 2rem;
    right: 0.5rem;
    width: 100%;
    padding: 20px 0;
}
.recipients{
    position: relative;
    display: flex;
    align-items: center;
    background-color: gray;
    height: 10%;
}

