@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.bigHeading {
  font-size: 3em;
  color:#ffffff;
}

.largerText {
  font-size: 1em;
  color:#ffffff;
}

.editButton {
  font-size: large;
  color:#ffffff;
  width: 50px;
}

.editButton:hover {
  font-weight: bold;
  color: blueviolet;
}

.shiftedText {
  margin-left: 600px;
}

.largerShiftedText {
  margin-left: 300px;
}

.scrollableList {
  font-size: 1em;
  color:#ffffff;
  max-height: 200px;
  width: 500px;
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: transparent transparent; 
}

.scrollableList ul {
  list-style: none;
  padding: 0;
}

.scrollableList li {
  padding: 8px;
  border-bottom: 1px solid #ffffff;
}

.scrollableList li:last-child {
  border-bottom: none;
}

.iconImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon {
  width: 100%;
  max-height: 7%;
  color: rgb(0, 0, 0);
}
.linespaced {
  line-height: 1; /* Adjust the value as needed */
}
